body {
  /* background-image: url("../images/Task_Image.jpg");
  opacity: 60%; */
  background-repeat: no-repeat;
}
.navi {
  display: flex;
  position: relative;
}
.navi img{
  width: 1430px;
}
.navi-1 {
  position: absolute;
  display: flex;
  margin: 46px 0 0 170px;
}
.brunch {
  font-size: 36px;
  color: #fff;
}
.nav {
  position: relative;
  left: 286px;
  top: 2px;
  font-size: 35px;
}
.nav a {
  color: #fff;
  text-decoration: none;
  margin-right: 15px;
}
.overlay{
  position: absolute;
  text-align: center;
  top: 260px;
  left: 342px;
  font-size: 36px;
}
.overlay-1{
  background-color: #ffffff24;
    padding: 260px 0 70px 280px;
}
.overlay-1 h1{
  position: relative;
    bottom: 175px;
    font-size: 90px;
    right: 135px;
}
.overlay-1 h5{
  position: relative;
    font-size: 74px;
    bottom: 110px;
    right: 135px;
}
.overlay-1 p{
  background-color: #ffffffa8;
    padding: 8px 20px;
    bottom: 50px;
    right: 135px;
    margin: 0 144px;
    position: relative;
}
.traditional{
  display: flex;
    background-color: #2a3c40;
    position: relative;
    width: 1430px;
}
.trade-1{
  width: 548px;
    color: #fff; 
}
.trade-1 h6{
  position: relative;
    left: 91px;
    top: 40px;
    line-height: 32px;
    font-size: 32px;
}
.trade-1 p{
  position: relative;
    top: 80px;
    left: 95px;
    font-size: 21px;
}
.trade-img{
  position: relative;
    left: 180px;
}
.flex-card{
  background-color: #ccc;
    width: 1430px;
    height: 330px;
}
.flexcard{
  display: flex;
    position: relative;
    top: 98px;
    left: 174px;
}
.flex-card-1{

}
.flex-card-2{
  position: relative;
    left: 82px;
}
.flex-card-3{
  position: relative;
    left: 163px;
}
.flex-card-1 i{
  font-size: 30px;
}
.flex-card-1 h6{
  font-size: 21px;
    position: relative;
    top: 15px;
}
.flex-card-1 p{
  width: 313px;
    font-size: 20px;
    position: relative;
    top: 43px;
}
.flex-card-2 i{
  font-size: 30px;
}
.flex-card-2 h6{
  font-size: 21px;
    position: relative;
    top: 15px;
}
.flex-card-2 p{
  width: 313px;
    font-size: 20px;
    position: relative;
    top: 43px;
}
.flex-card-3 i{
  font-size: 30px;
}
.flex-card-3 h6{
  font-size: 21px;
    position: relative;
    top: 15px;
}
.flex-card-3 p{
  width: 313px;
    font-size: 20px;
    position: relative;
    top: 43px;
}

.cardtext{
  background-image: url("../images/9.jpg");
  background-repeat: no-repeat;
  position: relative;
  width: 1430px;
  height: 1130px;
  text-align: center;
}
.card_text_91 h3{
  font-size: 30px;
    padding: 20px 0 0 0;
}
.card_text_91 h4{
  text-align: center;
  color: #cb5c01;
  font-size: 30px;
    padding: 20px 0 20px 0;
}
.card91{
  width: 1380px;
}
.card-text{

}
.card_text_91{
  background-color: #ffffff5e;
  position: relative;
  width: 1104px;
  top: 100px;
  left: 150px;
}
.cardtext-1{
  display: flex;
}
.cardtext-1 img{
  width: 20%;
}
.cardtextpara-1{
  width: 20%;
}

.cardtextpara-1 h5{
  font-size: 20px;
  padding: 40px 0 0 0;
}
.cardtextpara-1 p{
  font-size: 25px;
    padding: 30px 0 30px 0;
}
.cardtextpara-1 span{
  font-size: 30px;
}
.cardtext-2{
  display: flex;
}
.cardtext-2 img{
  width: 20%;
}
.cardtextpara-2{
  width: 20%;
}

.cardtextpara-2 h5{
  font-size: 20px;
  padding: 40px 0 0 0;
}
.cardtextpara-2 p{
  font-size: 25px;
    padding: 30px 0 30px 0;
}
.cardtextpara-2 span{
  font-size: 30px;
}
.cardtext-3{
  display: flex;
}
.cardtext-3 img{
  width: 20%;
}
.cardtextpara-3{
  width: 20%;
}

.cardtextpara-3 h5{
  font-size: 20px;
  padding: 40px 0 0 0;
}
.cardtextpara-3 p{
  font-size: 25px;
    padding: 30px 0 30px 0;
}
.cardtextpara-3 span{
  font-size: 30px;
}
